.dashboard-bg{
 
    -fx-background-color:linear-gradient(to bottom right, #03305a, #00d4ff);
    
}
.addEmployee-header{
 
    -fx-background-color:linear-gradient(to right, #03305a, #00d4ff);
    -fx-border-color:linear-gradient(to right, #03305a, #00d4ff);
    -fx-border-width: 3px;
}

.background{
    -fx-background-color: #e8e8e8;
}

.dashButton{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
    -fx-border-radius: 7px;
    -fx-cursor: hand;

}

.dashButton:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-border-radius: 7px;
}

.addButton{
    -fx-background-color:#397dbd;
    -fx-background-radius:7px;
    -fx-border-color:#397dbd;
    -fx-border-radius: 7px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.addButton:hover{
    -fx-background-color:#fff;
    -fx-background-radius:7px;
    -fx-border-color:#397dbd;
    -fx-border-radius: 7px;
    -fx-text-fill: #397dbd;
}

.departmentComboBox{
    -fx-background-color:#e6e6e6cc;
    -fx-background-color:linear-gradient(to bottom right, #fff, #9b9b9bcc);
    -fx-background-radius:7px;
    -fx-border-color:linear-gradient(to bottom right, #1f1fc1, #00d4ff);
    -fx-border-radius: 7px;
    -fx-cursor: hand;
}

.departmentComboBox:hover{
    -fx-background-color:rgb(136, 136, 136);
    -fx-background-radius:7px;
    -fx-border-color:linear-gradient(to bottom right, #1f1fc1, #00d4ff);
    -fx-border-radius: 7px;
    -fx-cursor: hand;
}

.table-view {
    -fx-font-size: 14px; /* Optional: Adjust font size */
}

.table-view .table-cell {
    -fx-alignment: CENTER_LEFT; /* Vertically center and left-align cell content */
}

.table-view .column-header {
    -fx-alignment: CENTER; /* Center align column headers */
}

.table-view .table-row-cell {
    -fx-alignment: CENTER_LEFT; /* Vertically center and left-align each row cell */
}

.confirmButton{
    -fx-background-color: #35b940;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}
.confirmButton:hover{
    -fx-background-color: #2aa33e;
}

.cancelButton{
    -fx-background-color: rgb(219, 89, 60);
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.cancelButton:hover{
    -fx-background-color: #a84731;

}

.deleteButton{
    -fx-background-color: #db593c;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.deleteButton:hover{
    -fx-background-color: #a84731;

}


.alertLabelCancel_delete{
    -fx-fill:linear-gradient(to right, rgb(3, 48, 90), #00d4ff);
}

.calendar-bg{
    -fx-background-color:#fff;
    -fx-border-radius: 12px;
    -fx-background-radius: 15px;
}

.top-header{
    -fx-background-color: #fff;
}

