
.login-bg{
    
    -fx-background-color:linear-gradient(to bottom right, #03305a, #00d4ff);
    
}

.exit{
    -fx-background-color:#ff3434;
    -fx-background-radius:5px 0 0 5px;
    -fx-cursor:hand;
} 

.exit:hover{
    -fx-background-color:#c96d6d;
    -fx-background-radius:5px 0 0 5px;
}

.login-textfield{
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-color:linear-gradient(to bottom right, #1f1fc1, #00d4ff);
    -fx-border-radius: 10px;
    -fx-text-inner-color: #000;
    
}

.login-textfield:focused{
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-color:linear-gradient(to bottom right, #1f1fc1, #00d4ff);
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-text-inner-color: #000;
}

.login-textarea{
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-color:linear-gradient(to bottom right, #1f1fc1, #00d4ff);
    -fx-border-radius: 3px;
    -fx-text-inner-color: #000;
    
}

.login-textarea:focused{
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-color:linear-gradient(to bottom right, #1f1fc1, #00d4ff);
    -fx-border-radius: 3px;
    -fx-border-width: 2px;
    -fx-text-inner-color: #000;
}

.button-login{
    -fx-background-color:linear-gradient(to bottom right, #1f1fc1, #00d4ff);
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.button-login:hover{
    -fx-background-color:linear-gradient(to bottom right, #3e3ec9, #39deff);

}
.register-hypertext{
    -fx-text-fill:#5185C5;
    -fx-cursor: hand;
    -fx-underline:true;
    -fx-border-color: transparent;
}

.register-hypertext:hover{
    -fx-text-fill:#6aadff;
}

.custom-stage{

    -fx-background-color: white; /* Background color for the scene */
    -fx-border-color: linear-gradient(to right, #03305a, #00d4ff); /* Same gradient for consistency */
    -fx-border-width: 3px; /* Border thickness */

}


.dashboard-elements{
 
    -fx-background-color:linear-gradient(to top, #03305a, #00d4ff);
    -fx-border-color: #fff;
    -fx-border-radius: 10px;
    -fx-background-radius: 12px;
    
}

.pie-chart {
    -fx-background-color: transparent; /* Make background transparent */
    -fx-border-color: linear-gradient(to top, #03305a, #00d4ff); /* Set border color */
    -fx-border-width: 2px; /* Set border width */
    -fx-border-style: solid; /* Set border style */
    -fx-border-radius: 0px 0px 10px 10px;
    -fx-padding: 10; 
}

.pie-chart .chart-title {
    -fx-font-size: 25px; /* Change title font size */
    -fx-text-fill: #333; /* Change title color */
}

.pie-chart:focused{
    -fx-focus-color: transparent;
}

.pie-chart .chart-legend {
    -fx-font-size: 14px; /* Change legend font size */
    -fx-text-fill: #666; /* Change legend color */
}

.departmentContainer-header{
 
        -fx-background-color:#076ac8;
        -fx-border-width: 3px;
    
}

.month-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 100px;
    -fx-border-radius: 100px;
    -fx-border-color: #fff
}

.month-btn:hover{
    -fx-cursor: hand;
    -fx-background-color: #ffffff57;
    -fx-background-radius: 100px;
    -fx-border-radius: 100px;
    -fx-border-color: #fff
}

.department-elements{
 
    -fx-background-color:linear-gradient(to top, #03305a, #00d4ff);
    -fx-border-color: #fff;
    
}

.header-background{
 
    -fx-background-color:linear-gradient(to top, #03305a, #1c444b);
    -fx-border-color: #fff;
    -fx-border-radius: 10px;
    -fx-background-radius: 12px;
    
}

.setFocus{

}

.setFocus:focused{
    -fx-focus-color: transparent;
}

.user-bg{
    -fx-background-color: transparent;
    -fx-border-radius: 12px 0 0 12px;
    -fx-background-radius: 15px 0 0 15px;
}
.user-bg:focused{
    -fx-background-color: transparent;
    -fx-border-radius: 12px 0 0 12px;
    -fx-background-radius: 15px 0 0 15px;
    -fx-focus-color: transparent;
}

.user-bg > .title{
    -fx-background-color:#fff;
    -fx-border-radius: 12px 0 0 12px;
    -fx-background-radius: 15px 0 0 15px;
}

.user-bg > .title:hover{
    -fx-background-color:#bcbbbb;
    -fx-border-radius: 12px 0 0 12px;
    -fx-background-radius: 15px 0 0 15px;
    -fx-cursor:hand;
}

.user-bg:expanded > .title{
    -fx-background-color:#bcbbbb;
    -fx-border-radius: 15px 0 0 0;
    -fx-background-radius: 15px 0 0 0;
}


.user-bg > .content{
    -fx-background-color: #fff;
    -fx-border-radius: 0 0 15px 15px;
    -fx-background-radius: 0 0 15px 15px;
}

.user-bg:collapsed > .content{
    -fx-background-color: transparent;
}

.logout-btn{
    -fx-background-color: #fff;
    -fx-border-radius:  0 0 15px 15px;
    -fx-background-radius: 0 0 15px 15px;
}

.logout-btn:hover{
    -fx-text-fill: #fff;
    -fx-background-color: #c83535;
    -fx-border-radius: 0 0 15px 15px;
    -fx-background-radius: 0 0 15px 15px;
    -fx-cursor: hand;
}

.user-icon{
    -fx-background-color:linear-gradient(to right, rgb(207, 207, 207), #a5e1ed);
    -fx-border-radius: 12px;
    -fx-background-radius: 10px 15px 15px 10px;
}

.category-axis .axis-label, .category-axis .tick-label {
    -fx-rotate: 45;
}

.register-bg{
    
    -fx-background-color:linear-gradient(to bottom, #03305a, #00d4ff, #00d4ff);
    
}